<div class="change-password">
  <h1 class="change-password__title">Alterar Senha</h1>

  <app-card class="change-password__card" [padding]="cardPadding()">
    <div appCardHeader class="change-password__card-header">Alterar Senha</div>

    <div class="change-password__card-body">
      <div class="change-password__form">
        <div class="change-password__field">
          <app-password-input
            [label]="'Senha atual'"
            [required]="true"
            [showStrength]="false"
            [error]="currentPasswordError()"
            [(value)]="currentPassword"
          />
        </div>

        <div class="change-password__field">
          <app-password-input
            [label]="'Nova senha'"
            [required]="true"
            [showStrength]="true"
            [error]="newPasswordError()"
            [(value)]="newPassword"
            (strengthChange)="onStrengthChange($event)"
          />
        </div>

        <div class="change-password__field">
          <app-password-input
            [label]="'Confirmar nova senha'"
            [required]="true"
            [showStrength]="false"
            [error]="confirmPasswordError()"
            [(value)]="confirmPassword"
          />
        </div>
      </div>
    </div>

    <div appCardFooter class="change-password__card-footer">
      <app-button
        [variant]="'default'"
        [loading]="isLoading()"
        (clicked)="onSubmit()"
      >
        Alterar senha
      </app-button>
    </div>
  </app-card>
</div>
